TV_WEBHOOK_SECRET=maradona_v_18_3_8
SYMBOLS=ETHUSDT,BTCUSDT
TELEGRAM_BOT_TOKEN=7990520405:AAElFj805uVFjASrQjKoJWf50I1TPBiK75A
TELEGRAM_CHAT_ID=5625852939
BYBIT_WS_URL=wss://stream.bybit.com/v5/public/linear
